# This is a basic workflow to help you get started with Actions

name: Hourly Query

# Controls when the workflow will run
on:
  # schedule to run
  schedule:
    - cron: '16 8-18 * * *'
    # This expression will fire at every 16th minute of every hour between 7 am and 10 pm every day.
    #   16: At the 16th minute.
    #   7-22: Between the 7th and 22nd hour (7 am to 10 pm).
    #   * * *: Every day of the month, every month, and every day of the week.
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: scripts/teeline.sh

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v5
